{% extends "base.html" %}

{% block header %}
{{ super() }}
<div style="position: absolute; top: 15px; right: 80px; z-index: 1000;">
  <select id="langSwitch">
    <option value="zh" {% if config.language == "zh" %}selected{% endif %}>中文</option>
    <option value="en" {% if config.language == "en" %}selected{% endif %}>English</option>
  </select>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sel = document.getElementById('langSwitch');

      sel.addEventListener('change', function () {
        const targetLang = this.value;
        const currentPath = window.location.pathname;

        const newPath = currentPath.replace(/\/docs\/(zh|en)\//, `/docs/${targetLang}/`);
        window.location.href = newPath;
        
        sel.value = targetLang;
      });
    });
  </script>
</div>
{% endblock %}